.ag-header-cell-resize {
    z-index: 0 !important;
}

@media print {
    body * {
        visibility: hidden;
}

#printableDiv, #printableDiv * {
        visibility: visible;
}

#printableDiv {
    position: absolute;
    left: 0;
    top: 0;
}
