<html>
<head>
  <style>
    @media print {
      @page {
        size: 59mm 104mm;
        margin: 0;
      }
      .card {
        border: 0;
      }
    }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
  <div class="printarea" id="printarea"></div>
  <div id="qrcode"></div>
  <button id="printit" onclick="window.print();">PrintIt</button>
  <script>
    window.onload = function() {
      new QRCode(document.getElementById("qrcode"), "{{view_url}}");
    };
  </script>
</body>
</html>